.experience {
  --size: 56px;
  min-height: 100vh;
  padding: 8rem 0;
}

.experience__title {
  font-family: 'montserrat-Black';
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;

  @media (min-width: 992px) {
    font-size: 5rem;
    text-align: right;
     /* margin-bottom: -20px; */
  }
}

