.portfolio-menu__lang {
  order: 2;
  display: flex;
  align-items: center;

  @media (min-width: 768px) {
    justify-content: flex-end;
    order: 3;
    flex: 1;
  }

  button {
    background: none;
    border: none;
    color: black;
    font-family: "avenir";
    font-style: italic;
    font-weight: bold;
    font-size: 0.8rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;

    img {
      opacity: 0.7;
      max-width: 16px;
      max-height: 16px;
      transition: opacity 0.3s ease;

      &:hover {
        opacity: 1;
      }
    }
  }
}

/* Base styles for the language selection modal */
.lang-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  min-height: min-content;
  max-width: 400px;
  height: auto;
  max-height: 200px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 1000;
  text-align: center;

  @media (min-width: 992px) {
    min-width: 400px;
  }
}

/* Overlay for the modal */
.lang-modal::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

/* Content inside the modal */
.lang-modal__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  position: relative;
  padding: 32px;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
  }
}

/* Close button with X icon */
.lang-modal__close {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.VIpgJd-ZVi9od-aZ2wEe-wOHMyf {
  display: none !important;
}

.skiptranslate {
  display: none !important;
}

.lang-modal__close svg {
  width: 20px;
  height: 20px;
  fill: #000;
}

.lang-modal__close:hover svg {
  fill: #d9534f;
}

#goog-gt-tt {
  display: none !important;
}

.skiptranslate,
.google_translate_element {
  display: none;
}