.portfolio-menu__list {
  margin: 0;
  padding: 0;
  display: none;
  gap: 24px;
  list-style: none;
  flex: 1;
  justify-content: center;

  @media (min-width: 768px) {
    display: flex;
  }

  &.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    background-color: black;
    bottom: 0;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: 3;
    gap: 96px;

    a {
      font-size: 2rem;
      text-wrap: nowrap;
      color: white;
    }

    .portfolio-menu__lang {
      display: flex;
      flex: 0;  
     
      button {
        color: white;
      }
    }
  }

  .portfolio-menu__lang {
    display: none;
  }

  li {
    display: flex;
    align-items: center;
  }
  a {
    font-family: "avenir";
    color: black;
    text-wrap: nowrap;
    letter-spacing: 1.5px;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 1em;
    text-transform: uppercase;
    text-decoration: none;
  }
}
