---
import "/src/styles/alvge/modules/experience.css";
import TimeLine from "../../components/alvge/TimeLine.astro";
---

<section id="experience" class="experience">
  <div class="container">
    <h1 class="experience__title">Experience</h1>
  </div>
  <TimeLine />
</section>
