---
import "../../styles/alvge/modules/experience.css";
import TimeLine from "../../components/alvge/TimeLine.astro";
import Image from '../../assets/drag-down.png';
---

<section id="experience" class="experience">
  <div class="container">
    <h1 class="experience__title">Experience</h1>
    <!-- <p class="experience__description">
      With over five years of experience in software engineering, I have
      successfully designed and developed a variety of scalable web
      applications. My career has been marked by a commitment to high
      performance, robust security, and seamless user experiences. Below is a
      visual timeline showcasing my journey and key milestones in the industry.
    </p> -->
  </div>
  <TimeLine />
</section>
