---
import "../../styles/alvge/modules/footer.css";
import Social from "../../components/alvge/Social.astro";
---

<footer class="footer">
  <div class="container">
    <svg
      class="footer__svg"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      version="1.1"
      x="0px"
      y="0px"
      viewBox="0 0 500 500"
      style="enable-background:new 0 0 500 500;"
      xml:space="preserve"
    >
      <g id="Background_Simple">
        <g>
          <g>
            <path
              style="fill:#92E3A9;"
              d="M92.16,138.04c70.07-79.73,190.37-93.01,244.01-67.39c22.41,10.71,41.37,23.82,57.21,38.23     c2.24,2.03,4.42,4.09,6.53,6.17c6.8,6.7,12.96,13.62,18.53,20.67c7.14,9.03,13.3,18.27,18.54,27.5     c8.44,14.84,14.52,29.64,18.53,43.47c3.17,10.92,5.05,21.24,5.78,30.51c1.53,19.41,0.2,38.96-2.41,58.25     c-0.24,1.84-0.5,3.68-0.78,5.52c-0.07,0.51-0.14,1.02-0.22,1.53c-2.87,19.17-6.93,38.51-15.99,55.23     c-9.88,18.23-44.43,68.96-81.88,70.29c-19.43,0.69-36.59-12.03-54.2-21.01c-28.02-14.28-59.69-17.08-90.59-17.91     c-30.9-0.83-62.18,0.06-92.29-7.6c-30.11-7.65-59.64-25.26-75.03-54.55c-5.23-9.94-9.2-24.26-9.21-35.72     c-0.01-33.81,5.52-63.38,15.16-89.07c3.14-8.39,6.72-16.36,10.69-23.93c6.11-11.67,13.15-22.38,20.92-32.17L92.16,138.04z"
            ></path>
          </g>
          <g style="opacity:0.7;">
            <path
              style="fill:#FFFFFF;"
              d="M92.16,138.04c70.07-79.73,190.37-93.01,244.01-67.39c22.41,10.71,41.37,23.82,57.21,38.23     c2.24,2.03,4.42,4.09,6.53,6.17c6.8,6.7,12.96,13.62,18.53,20.67c7.14,9.03,13.3,18.27,18.54,27.5     c8.44,14.84,14.52,29.64,18.53,43.47c3.17,10.92,5.05,21.24,5.78,30.51c1.53,19.41,0.2,38.96-2.41,58.25     c-0.24,1.84-0.5,3.68-0.78,5.52c-0.07,0.51-0.14,1.02-0.22,1.53c-2.87,19.17-6.93,38.51-15.99,55.23     c-9.88,18.23-44.43,68.96-81.88,70.29c-19.43,0.69-36.59-12.03-54.2-21.01c-28.02-14.28-59.69-17.08-90.59-17.91     c-30.9-0.83-62.18,0.06-92.29-7.6c-30.11-7.65-59.64-25.26-75.03-54.55c-5.23-9.94-9.2-24.26-9.21-35.72     c-0.01-33.81,5.52-63.38,15.16-89.07c3.14-8.39,6.72-16.36,10.69-23.93c6.11-11.67,13.15-22.38,20.92-32.17L92.16,138.04z"
            ></path>
          </g>
        </g>
      </g>
      <g id="Floor">
        <line
          style="fill:none;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
          x1="38.693"
          y1="426.841"
          x2="468.743"
          y2="426.841"></line>
      </g>
      <g id="Plants">
        <g>
          <g>
            <g>
              <g>
                <g>
                  <path
                    style="fill:none;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                    d="        M369.651,281.773c-0.009,0.009-0.009,0.018,0,0.027c0.009,0.036,0.018,0.073,0.027,0.109c0.036,0.181,0.073,0.372,0.118,0.571        c0.336,1.605,0.726,3.828,1.007,6.63c0.191,1.914,0.336,4.091,0.381,6.521c0.091,4.689-0.172,10.313-1.152,16.743        c-0.218,1.469-0.481,2.984-0.789,4.544c-0.49,2.54-1.097,5.197-1.832,7.954c-0.336,1.279-0.708,2.585-1.107,3.909        c-0.163,0.535-0.317,1.07-0.472,1.605c-0.181,0.653-0.363,1.306-0.535,1.959c0,0.009-0.009,0.018-0.009,0.027        c-1.161,4.426-2.059,8.97-2.748,13.478c-0.853,5.651-1.379,11.256-1.669,16.571c-0.39,7.075-0.372,13.614-0.2,19.02        c0,0.091,0,0.172,0.009,0.263c0.181,5.478,0.517,9.759,0.753,12.208c0.127,1.424,0.218,2.231,0.227,2.286"
                  ></path>
                </g>
                <g>
                  <g>
                    <path
                      style="fill:#FFFFFF;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                      d="         M369.679,281.909c-0.009-0.018-0.009-0.018-0.018-0.018c-0.009-0.018-0.009-0.018-0.018-0.018         c-0.717-0.635-1.506-1.179-2.34-1.633c-0.916-0.481-1.896-0.862-2.911-1.097"
                    ></path>
                  </g>
                </g>
                <g>
                  <line
                    style="fill:none;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                    x1="370.801"
                    y1="289.112"
                    x2="373.463"
                    y2="286.7"></line>
                </g>
                <g>
                  <path
                    style="fill:none;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                    d="        M367.411,324.883v-0.009c-0.136-0.698-0.345-1.388-0.626-2.05c-0.39-0.971-0.925-1.878-1.587-2.694        c-0.49-0.608-1.052-1.161-1.669-1.651"
                  ></path>
                </g>
                <g>
                  <path
                    style="fill:none;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                    d="        M365.285,332.378c0.734-1.864,2.291-3.4,4.164-4.11"
                  ></path>
                </g>
                <g>
                  <path
                    style="fill:#FFFFFF;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                    d="        M360.658,369.577c0.89-1.074,1.564-5.165,1.926-7.362c0.086-0.525,0.16-0.973,0.222-1.297"
                  ></path>
                </g>
                <g>
                  <path
                    style="fill:#FFFFFF;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                    d="        M353.806,376.963c0.299-0.018,0.599-0.009,0.898,0.027c2.594,0.236,5.016,2.023,5.968,4.453"
                  ></path>
                </g>
              </g>
              <path
                style="fill:none;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                d="M369.239,316.957      c0,0,0.473-16.232-8.441-22.115"></path>
              <g>
                <path
                  style="fill:#92E3A9;"
                  d="M370.042,351.791c1.169,3.785-6.987,10.99-6.987,10.99s-10.798-1.35-11.967-5.135       c-1.169-3.785,1.566-9.978,6.8-11.595C363.121,344.434,368.872,348.006,370.042,351.791z"
                ></path>
                <path
                  style="fill:#92E3A9;"
                  d="M379.092,305.859c-1.035,4.019-8.759,6.874-8.759,6.874s-5.385-6.23-4.35-10.249       c1.035-4.019,5.304-8.449,8.924-7.517C378.527,295.9,380.127,301.84,379.092,305.859z"
                ></path>
                <path
                  style="fill:#92E3A9;"
                  d="M348.098,365.926c4.85,1.888,7.823,10.466,7.823,10.466s-7.99,4.309-12.841,2.421       c-4.85-1.889-9.983-7.209-8.598-10.768C335.869,364.487,343.248,364.038,348.098,365.926z"
                ></path>
                <path
                  style="fill:#92E3A9;"
                  d="M358.732,318.734c1.025,0.761,2.082,1.537,3.314,1.872c1.232,0.334,2.697,0.13,3.534-0.834       c1.038-1.195,0.759-3.046,0.106-4.487c-1.296-2.855-6.075-7.701-9.746-6.311C350.641,310.981,356.369,316.98,358.732,318.734z"
                ></path>
                <path
                  style="fill:#92E3A9;"
                  d="M369.578,326.01c-0.695,0.862-1.433,1.948-1.053,2.987c0.337,0.922,1.47,1.345,2.442,1.199       c0.971-0.147,1.815-0.723,2.622-1.283c1.871-1.299,5.706-4.025,3.258-6.574C374.303,319.69,371.043,324.195,369.578,326.01z"
                ></path>
                <path
                  style="fill:#92E3A9;"
                  d="M353.927,289.731c-0.8,0.088-1.612,0.624-1.748,1.418c-0.159,0.928,0.61,1.74,1.356,2.315       c1.858,1.432,7.441,5.295,8.687,1.568C363.399,291.51,356.395,289.458,353.927,289.731z"
                ></path>
                <g>
                  <path
                    style="fill:#92E3A9;"
                    d="M364.219,277.47c-1.152,0.109-2.301-0.308-3.456-0.235c-1.155,0.073-2.436,1.002-2.18,2.131        c0.237,1.043,1.534,1.392,2.601,1.459c1.821,0.115,3.657-0.012,5.445-0.376c0.415-0.084,0.867-0.207,1.105-0.558        c0.467-0.688-0.276-1.609-1.071-1.853c-0.794-0.243-1.691-0.162-2.413-0.575L364.219,277.47z"
                  ></path>
                </g>
                <g>
                  <path
                    style="fill:#92E3A9;"
                    d="M375.476,285.397c1.157,0.033,2.276-0.459,3.433-0.463c1.157-0.003,2.497,0.839,2.315,1.982        c-0.168,1.056-1.438,1.49-2.499,1.627c-1.81,0.234-3.65,0.229-5.458-0.016c-0.42-0.057-0.879-0.15-1.139-0.484        c-0.511-0.655,0.169-1.624,0.946-1.919c0.777-0.295,1.677-0.274,2.37-0.733L375.476,285.397z"
                  ></path>
                </g>
                <g>
                  <path
                    style="fill:#92E3A9;"
                    d="M374.337,370.62c0.285-0.241,0.609-0.489,0.983-0.486c0.496,0.004,0.89,0.471,0.983,0.959        c0.092,0.487-0.044,0.986-0.186,1.461c-0.783,2.623-9.587,21.621-11.612,18.21c-1.197-2.017,1.745-8.697,2.613-10.587        C368.796,376.52,371.261,373.218,374.337,370.62z"
                  ></path>
                </g>
              </g>
            </g>
            <path
              style="fill:none;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
              d="M370.048,283.018     c0,0-0.529-4.607,0.585-4.984"></path>
            <g>
              <path
                style="fill:#92E3A9;"
                d="M369.072,278.192c0.698-1.568,1.454-3.209,2.843-4.219c1.388-1.009,3.613-1.085,4.624,0.302      c1.13,1.551,0,3.908-1.732,4.735c-1.732,0.827-3.761,0.578-5.662,0.311c-0.015-0.282-0.031-0.564-0.046-0.847L369.072,278.192z"
              ></path>
            </g>
          </g>
          <g>
            <path
              style="fill:#FFFFFF;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
              d="     M373.813,426.608L373.813,426.608c-9.363,1.597-19.118,1.597-28.481,0l0,0l-11.079-32.69h50.638L373.813,426.608z"
            ></path>
          </g>
        </g>
        <g>
          <g>
            <g>
              <g>
                <g>
                  <path
                    style="fill:none;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                    d="        M180.545,190.433c-0.009,0.009-0.009,0.018,0,0.027c0.009,0.036,0.018,0.073,0.027,0.109c0.036,0.181,0.073,0.372,0.118,0.571        c0.336,1.605,0.726,3.828,1.007,6.63c0.19,1.914,0.336,4.091,0.381,6.521c0.091,4.689-0.172,10.313-1.152,16.743        c-0.218,1.469-0.481,2.984-0.789,4.544c-0.49,2.54-1.098,5.197-1.832,7.954c-0.336,1.279-0.708,2.585-1.107,3.909        c-0.163,0.535-0.317,1.07-0.472,1.605c-0.181,0.653-0.363,1.306-0.535,1.959c0,0.009-0.009,0.018-0.009,0.027        c-1.161,4.426-2.059,8.97-2.748,13.478c-0.852,5.651-1.379,11.256-1.669,16.571c-0.39,7.075-0.372,13.614-0.2,19.02        c0,0.091,0,0.172,0.009,0.263c0.181,5.478,0.517,9.759,0.753,12.208c0.127,1.424,0.218,2.231,0.227,2.286"
                  ></path>
                </g>
                <g>
                  <g>
                    <path
                      style="fill:#FFFFFF;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                      d="         M180.572,190.569c-0.009-0.018-0.009-0.018-0.018-0.018c-0.009-0.018-0.009-0.018-0.018-0.018         c-0.717-0.635-1.506-1.179-2.34-1.633c-0.916-0.481-1.896-0.862-2.911-1.098"
                    ></path>
                  </g>
                </g>
                <g>
                  <line
                    style="fill:none;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                    x1="181.695"
                    y1="197.772"
                    x2="184.357"
                    y2="195.361"></line>
                </g>
                <g>
                  <path
                    style="fill:none;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                    d="        M178.305,233.543v-0.009c-0.136-0.698-0.345-1.388-0.626-2.05c-0.39-0.97-0.925-1.877-1.587-2.694        c-0.49-0.608-1.052-1.161-1.669-1.651"
                  ></path>
                </g>
                <g>
                  <path
                    style="fill:none;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                    d="        M176.179,241.038c0.734-1.864,2.291-3.4,4.164-4.11"
                  ></path>
                </g>
                <g>
                  <path
                    style="fill:#FFFFFF;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                    d="        M171.552,278.237c0.89-1.074,1.564-5.165,1.926-7.362c0.087-0.526,0.16-0.974,0.222-1.297"
                  ></path>
                </g>
                <g>
                  <path
                    style="fill:#FFFFFF;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                    d="        M164.7,285.623c0.299-0.018,0.599-0.009,0.898,0.027c2.594,0.236,5.016,2.023,5.968,4.453"
                  ></path>
                </g>
              </g>
              <path
                style="fill:none;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                d="M180.133,225.617      c0,0,0.473-16.232-8.441-22.115"></path>
              <g>
                <path
                  style="fill:#92E3A9;"
                  d="M180.935,260.451c1.169,3.785-6.987,10.99-6.987,10.99s-10.798-1.35-11.967-5.135       c-1.169-3.785,1.566-9.978,6.8-11.595C174.015,253.094,179.766,256.666,180.935,260.451z"
                ></path>
                <path
                  style="fill:#92E3A9;"
                  d="M189.986,214.52c-1.035,4.019-8.759,6.875-8.759,6.875s-5.385-6.23-4.35-10.249       c1.035-4.019,5.304-8.449,8.924-7.517C189.421,204.56,191.021,210.5,189.986,214.52z"
                ></path>
                <path
                  style="fill:#92E3A9;"
                  d="M158.992,274.586c4.85,1.889,7.823,10.466,7.823,10.466s-7.991,4.309-12.841,2.42       c-4.85-1.889-9.983-7.209-8.598-10.768C146.763,273.147,154.142,272.698,158.992,274.586z"
                ></path>
                <path
                  style="fill:#92E3A9;"
                  d="M169.626,227.394c1.025,0.761,2.082,1.537,3.314,1.872c1.232,0.334,2.697,0.13,3.534-0.834       c1.038-1.195,0.76-3.046,0.106-4.487c-1.295-2.856-6.075-7.701-9.746-6.311C161.535,219.641,167.263,225.64,169.626,227.394z"
                ></path>
                <path
                  style="fill:#92E3A9;"
                  d="M180.472,234.671c-0.695,0.862-1.433,1.948-1.053,2.988c0.337,0.922,1.47,1.346,2.441,1.199       c0.971-0.147,1.816-0.722,2.622-1.283c1.871-1.299,5.706-4.025,3.258-6.574C185.196,228.35,181.937,232.855,180.472,234.671z"
                ></path>
                <path
                  style="fill:#92E3A9;"
                  d="M164.821,198.391c-0.801,0.089-1.612,0.624-1.748,1.418c-0.16,0.928,0.61,1.74,1.356,2.315       c1.858,1.432,7.441,5.295,8.687,1.568C174.293,200.17,167.289,198.118,164.821,198.391z"
                ></path>
                <g>
                  <path
                    style="fill:#92E3A9;"
                    d="M175.113,186.13c-1.152,0.109-2.301-0.308-3.456-0.235c-1.155,0.073-2.436,1.002-2.18,2.13        c0.237,1.043,1.534,1.392,2.601,1.459c1.821,0.115,3.657-0.012,5.445-0.376c0.415-0.084,0.867-0.207,1.105-0.558        c0.467-0.688-0.276-1.609-1.071-1.853c-0.795-0.244-1.691-0.163-2.413-0.575L175.113,186.13z"
                  ></path>
                </g>
                <g>
                  <path
                    style="fill:#92E3A9;"
                    d="M186.37,194.057c1.157,0.033,2.276-0.459,3.433-0.463c1.157-0.003,2.497,0.839,2.315,1.982        c-0.168,1.056-1.438,1.49-2.499,1.627c-1.809,0.234-3.65,0.229-5.458-0.016c-0.42-0.057-0.879-0.15-1.139-0.484        c-0.511-0.655,0.169-1.624,0.946-1.919c0.777-0.295,1.677-0.274,2.37-0.733L186.37,194.057z"
                  ></path>
                </g>
                <g>
                  <path
                    style="fill:#92E3A9;"
                    d="M185.231,279.28c0.285-0.241,0.609-0.489,0.983-0.486c0.496,0.004,0.89,0.471,0.983,0.959        c0.092,0.487-0.045,0.986-0.186,1.461c-0.783,2.623-9.587,21.621-11.612,18.21c-1.197-2.017,1.745-8.697,2.613-10.587        C179.69,285.18,182.155,281.878,185.231,279.28z"
                  ></path>
                </g>
              </g>
            </g>
            <path
              style="fill:none;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
              d="M180.942,191.678     c0,0-0.529-4.607,0.585-4.984"></path>
            <g>
              <path
                style="fill:#92E3A9;"
                d="M179.966,186.852c0.698-1.568,1.454-3.209,2.843-4.219c1.388-1.009,3.613-1.085,4.624,0.302      c1.13,1.551,0,3.908-1.732,4.735c-1.732,0.827-3.761,0.578-5.662,0.311c-0.015-0.282-0.031-0.564-0.046-0.847L179.966,186.852z"
              ></path>
            </g>
          </g>
        </g>
      </g>
      <g id="Building">
        <g>
          <line
            style="fill:none;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
            x1="53.85"
            y1="300.97"
            x2="53.85"
            y2="202.16"></line>

          <line
            style="fill:none;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
            x1="362.354"
            y1="300.97"
            x2="350.137"
            y2="300.97"></line>

          <line
            style="fill:none;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
            x1="458.1"
            y1="300.97"
            x2="433.23"
            y2="300.97"></line>
          <polyline
            style="fill:none;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
            points="    349.02,150.86 393.09,150.86 393.09,108.88   "
          ></polyline>
          <polyline
            style="fill:none;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
            points="    92.16,138.04 138.98,138.04 138.98,172.19 190.296,172.19   "
          ></polyline>
          <g>
            <line
              style="fill:none;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
              x1="64.54"
              y1="253.69"
              x2="64.54"
              y2="178.23"></line>

            <line
              style="fill:none;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
              x1="85.455"
              y1="145.475"
              x2="85.455"
              y2="204.622"></line>

            <line
              style="fill:none;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
              x1="106.366"
              y1="145.475"
              x2="106.366"
              y2="197.763"></line>

            <line
              style="fill:none;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
              x1="127.277"
              y1="145.475"
              x2="127.277"
              y2="236.928"></line>
          </g>
          <g>
            <polyline
              style="fill:none;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
              points="     227.45,132.511 227.45,72.38 312.58,72.38 312.58,132.511    "
            ></polyline>
            <g>
              <polyline
                style="fill:none;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                points="      233.693,102.248 233.693,79.515 249.426,79.515     "
              ></polyline>
              <polyline
                style="fill:none;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                points="      252.893,102.248 252.893,79.515 268.626,79.515     "
              ></polyline>
              <polyline
                style="fill:none;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                points="      272.094,102.248 272.094,79.515 287.827,79.515     "
              ></polyline>
              <polyline
                style="fill:none;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                points="      291.294,102.248 291.294,79.515 307.027,79.515     "
              ></polyline>
            </g>
            <g>
              <polyline
                style="fill:none;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                points="      233.693,132.511 233.693,109.778 249.426,109.778     "
              ></polyline>
              <polyline
                style="fill:none;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                points="      252.893,132.511 252.893,109.778 268.626,109.778     "
              ></polyline>
              <polyline
                style="fill:none;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                points="      272.094,132.511 272.094,109.778 287.827,109.778     "
              ></polyline>
              <polyline
                style="fill:none;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                points="      291.294,132.511 291.294,109.778 307.027,109.778     "
              ></polyline>
            </g>
          </g>

          <line
            style="fill:none;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
            x1="399.906"
            y1="114.083"
            x2="399.906"
            y2="189.433"></line>

          <line
            style="fill:none;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
            x1="430.823"
            y1="295.45"
            x2="433.23"
            y2="295.45"></line>

          <line
            style="fill:none;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
            x1="418.44"
            y1="135.72"
            x2="418.44"
            y2="220.079"></line>
          <polyline
            style="fill:none;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
            points="    436.98,273.907 436.98,295.45 451.77,295.45   "
          ></polyline>

          <line
            style="fill:none;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
            x1="436.98"
            y1="163.22"
            x2="436.98"
            y2="220.505"></line>
          <polyline
            style="fill:none;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
            points="    455.51,206.69 455.51,295.45 458.88,295.45   "
          ></polyline>
        </g>
      </g>
      <g id="Mail">
        <g>
          <g>
            <rect
              x="38.693"
              y="302.782"
              style="fill:#FFFFFF;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
              width="191"
              height="124.058"></rect>
            <polygon
              style="fill:#FFFFFF;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
              points="     38.693,302.782 134.193,364.811 229.693,302.782    "
            ></polygon>

            <line
              style="fill:none;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
              x1="105.484"
              y1="346.164"
              x2="38.693"
              y2="426.841"></line>

            <line
              style="fill:none;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
              x1="163.42"
              y1="346.164"
              x2="230.211"
              y2="426.841"></line>
          </g>
        </g>
      </g>
      <g id="Device">
        <path
          style="fill:#92E3A9;"
          d="M331.902,144.476h-44.398c-2.608,0-5.009,1.421-6.263,3.708l-0.024,0.044   c-3.38,6.092-11.059,8.29-17.151,4.909c-2.063-1.145-3.764-2.846-4.909-4.909l0,0c-1.246-2.311-3.661-3.752-6.287-3.752h-44.33   c-5.119-0.065-9.323,4.031-9.391,9.151v250.413c0.068,5.119,4.271,9.216,9.391,9.151h123.361c5.121,0.065,9.326-4.03,9.398-9.151   V153.626C341.228,148.506,337.023,144.411,331.902,144.476z"
        ></path>
        <path
          style="fill:#263238;"
          d="M345.628,150.855c0-7.077-5.737-12.814-12.814-12.814c-0.002,0-0.005,0-0.007,0H207.636   c-7.077-0.004-12.817,5.73-12.82,12.807c0,0.002,0,0.005,0,0.007v263.172c0,7.077,5.737,12.814,12.814,12.814   c0.002,0,0.005,0,0.007,0h125.172c7.077,0.004,12.817-5.73,12.82-12.807c0-0.002,0-0.005,0-0.007V150.855z M341.3,404.039   c-0.072,5.121-4.277,9.216-9.398,9.151H208.541c-5.119,0.065-9.323-4.031-9.391-9.151V153.626c0.068-5.119,4.271-9.215,9.391-9.151   h44.364c2.626,0,5.04,1.441,6.287,3.752l0,0c3.381,6.092,11.059,8.29,17.151,4.909c2.063-1.145,3.764-2.846,4.909-4.909   l0.024-0.044c1.254-2.287,3.655-3.708,6.263-3.708h44.398c5.121-0.065,9.326,4.03,9.398,9.151L341.3,404.039z"
        ></path>
        <g>
          <polygon
            style="opacity:0.2;fill:#FFFFFF;"
            points="303.097,138.042 219.949,426.833 252.966,426.799 333.038,138.042   "
          ></polygon>
          <polygon
            style="opacity:0.2;fill:#FFFFFF;"
            points="290.696,138.042 202.789,426.841 207.602,426.806 293.859,138.042   "
          ></polygon>
        </g>
        <g>
          <g>
            <g>
              <path
                style="fill:#FFFFFF;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                d="      M292.65,352.732c0.213,12.103-9.425,21.915-21.529,21.915c-12.103,0-22.088-9.812-22.301-21.915      c-0.213-12.103,9.425-21.915,21.529-21.915C282.452,330.817,292.437,340.629,292.65,352.732z"
              ></path>
            </g>
            <path
              style="fill:#92E3A9;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
              d="     M263.553,369.089c-2.035-0.751-3.901-1.9-5.488-3.379c-1.601-1.539-2.841-3.413-3.633-5.488     c-0.897-2.327-1.342-4.803-1.309-7.297c-0.017-2.129,0.359-4.243,1.108-6.236c0.678-1.828,1.693-3.512,2.992-4.966     c2.568-2.816,5.889-4.837,9.57-5.825c1.806-0.484,3.668-0.73,5.538-0.732c1.552-0.006,3.098,0.179,4.605,0.549     c1.456,0.36,2.85,0.937,4.134,1.712c1.27,0.764,2.407,1.729,3.369,2.856c1.006,1.212,1.773,2.603,2.261,4.1     c0.564,1.705,0.843,3.491,0.823,5.287c-0.02,3.455-1.257,6.792-3.494,9.424c-0.967,1.105-2.116,2.035-3.398,2.752     c-1.103,0.639-2.35,0.987-3.625,1.009c-0.875,0.011-1.729-0.265-2.433-0.784c-0.721-0.529-1.148-1.369-1.152-2.263     c-1.491,2.101-3.509,3.152-6.053,3.152c-2.072,0-3.727-0.708-4.966-2.125c-1.239-1.417-1.855-3.159-1.85-5.227     c0.006-1.573,0.28-3.134,0.81-4.615c0.519-1.498,1.263-2.908,2.206-4.182c0.936-1.256,2.131-2.297,3.505-3.05     c1.37-0.774,2.917-1.179,4.49-1.176c1.093-0.011,2.171,0.252,3.136,0.766c0.94,0.499,1.703,1.277,2.182,2.227l0.204-0.664     c0.327-0.977,1.384-1.505,2.361-1.178c0.184,0.061,0.357,0.151,0.513,0.266c0.307,0.25,0.476,0.632,0.455,1.027     c0,0.187-0.031,0.372-0.091,0.549l-3.243,10.78c-0.366,1.233-0.549,2.079-0.549,2.538c0,0.777,0.396,1.165,1.189,1.163     c1.035,0,2.052-0.476,3.05-1.427c1.076-1.073,1.906-2.367,2.433-3.792c0.621-1.559,0.938-3.222,0.936-4.9     c0.015-1.478-0.201-2.95-0.64-4.362c-0.365-1.217-0.946-2.359-1.717-3.369c-0.732-0.92-1.616-1.709-2.613-2.331     c-0.996-0.627-2.083-1.097-3.222-1.393c-1.167-0.304-2.369-0.458-3.575-0.457c-1.534,0.002-3.06,0.217-4.534,0.64     c-1.514,0.433-2.957,1.084-4.284,1.931c-1.338,0.845-2.55,1.875-3.599,3.06c-1.082,1.248-1.925,2.684-2.488,4.236     c-0.626,1.693-0.939,3.485-0.925,5.29c-0.034,2.138,0.354,4.261,1.142,6.249c0.673,1.724,1.74,3.265,3.118,4.5     c1.328,1.156,2.862,2.05,4.521,2.637c1.749,0.619,3.593,0.929,5.449,0.915c1.984,0.004,3.956-0.297,5.849-0.891     c0.191-0.064,0.392-0.095,0.593-0.091c0.388-0.016,0.763,0.139,1.027,0.423c0.251,0.26,0.39,0.608,0.389,0.97     c0.051,0.601-0.349,1.148-0.938,1.281c-2.362,0.723-4.816,1.099-7.286,1.118C268.066,370.314,265.744,369.905,263.553,369.089z      M271.811,358.719c0.985-0.711,1.718-1.718,2.091-2.875l2.091-7.354l-0.138-0.298c-0.133-0.242-0.293-0.469-0.478-0.674     c-0.25-0.287-0.522-0.554-0.813-0.8c-0.374-0.301-0.799-0.533-1.254-0.685c-1.183-0.419-2.481-0.374-3.633,0.126     c-0.626,0.27-1.201,0.645-1.701,1.108c-0.522,0.486-0.986,1.031-1.382,1.623c-0.414,0.613-0.765,1.267-1.045,1.952     c-0.281,0.682-0.499,1.389-0.651,2.112c-0.15,0.687-0.227,1.388-0.23,2.091c-0.003,0.451,0.024,0.901,0.081,1.349     c0.049,0.396,0.136,0.787,0.261,1.165c0.111,0.343,0.268,0.669,0.468,0.97c0.184,0.278,0.416,0.521,0.685,0.719     c0.286,0.209,0.607,0.364,0.949,0.457c0.401,0.112,0.817,0.165,1.234,0.159C269.594,359.877,270.814,359.474,271.811,358.719     L271.811,358.719z"
            ></path>
          </g>
          <g>
            <g>
              <path
                style="fill:#FFFFFF;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                d="      M292.157,277.598c0.213,12.103-9.425,21.915-21.528,21.915c-12.103,0-22.088-9.811-22.301-21.915      c-0.213-12.103,9.425-21.915,21.528-21.915C281.959,255.683,291.944,265.495,292.157,277.598z"
              ></path>
            </g>
            <path
              style="fill:#92E3A9;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
              d="     M283.995,275.601c-6.862-4.503-20.334-4.503-26.881,0c-2.436,0.456-4.235,2.611-4.145,5.19c0.102,2.908,12.188,2.908,12.086,0     c-0.044-1.255-0.545-2.395-1.314-3.305c4.328-0.976,9.363-0.976,13.759,0c-0.705,0.909-1.126,2.05-1.082,3.305     c0.102,2.908,12.188,2.908,12.086,0C288.414,278.211,286.464,276.057,283.995,275.601z"
            ></path>
          </g>
          <g>
            <g>
              <g>
                <path
                  style="fill:#FFFFFF;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                  d="       M292.158,204.62c0.117,5.392-2.819,10.207-7.539,13.417v13.088l-9.391-9.391c-1.482,0.261-3.018,0.391-4.603,0.391       c-12.1,0-22.088-7.834-22.3-17.505c-0.213-9.665,9.425-17.499,21.532-17.499C281.958,187.121,291.946,194.955,292.158,204.62z"
                ></path>
              </g>
            </g>
            <path
              style="fill:#92E3A9;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
              d="M260.91,204.622     c0,1.567-1.27,2.837-2.837,2.837c-1.567,0-2.837-1.27-2.837-2.837c0-1.567,1.27-2.837,2.837-2.837     C259.64,201.785,260.91,203.055,260.91,204.622z"
            ></path>
            <path
              style="fill:#92E3A9;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
              d="     M273.059,204.622c0,1.567-1.27,2.837-2.837,2.837c-1.567,0-2.837-1.27-2.837-2.837c0-1.567,1.27-2.837,2.837-2.837     C271.788,201.785,273.059,203.055,273.059,204.622z"
            ></path>
            <path
              style="fill:#92E3A9;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
              d="     M285.208,204.622c0,1.567-1.27,2.837-2.837,2.837c-1.567,0-2.837-1.27-2.837-2.837c0-1.567,1.27-2.837,2.837-2.837     C283.937,201.785,285.208,203.055,285.208,204.622z"
            ></path>
          </g>
        </g>
      </g>
      <g id="Character_1">
        <path
          style="fill:#92E3A9;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;"
          d="M147.803,244.533   c-0.304,0.681-0.908,1.173-1.489,1.638c-4.61,3.674-9.335,7.205-14.166,10.586c-1.771,1.245-3.608,2.523-5.318,3.918   c-10.276,6.878-4.012,8.555-10.276,23.12c0,0.005-0.006,0.005-0.006,0.011c-1.483,3.481-1.212,20.536-1.212,20.536h-0.509   c-1.134-1.046-2.684-2.546-3.874-3.331c0,0-0.006,0.006-0.006,0c-0.205-0.138-0.398-0.254-0.576-0.337c0,0-0.006,0.005-0.006,0   c-0.221-0.111-0.426-0.177-0.592-0.188c-1.013-0.061-4.814,0.398-8.666,0.144c-0.332-0.017-0.664-0.044-0.996-0.083   c-0.564-0.055-1.118-0.127-1.666-0.221c-0.542-0.1-1.074-0.21-1.583-0.354c-2.889-0.802-6.906-2.501-10.735-4.145l-0.006-0.005   c-0.587-0.255-1.168-0.504-1.743-0.753c-0.288-0.127-0.576-0.249-0.858-0.371c-0.266-0.116-0.526-0.227-0.786-0.337   c-0.188-0.083-0.376-0.16-0.559-0.238c-0.183-0.083-0.365-0.155-0.542-0.232c-0.006,0-0.006,0-0.011,0.006   c-0.902-0.382-1.754-0.73-2.535-1.029c-0.365-0.138-0.73-0.249-1.09-0.332c-0.055,0.819-0.133,1.655-0.238,2.474   c-0.487,3.912-1.555,7.52-3.459,8.024c-0.039,0.017-0.083,0.028-0.127,0.033c-0.166,0.028-0.338,0.05-0.504,0.05   c-0.055,0.006-0.105,0.006-0.155,0c-0.41-0.005-0.824-0.094-1.24-0.238c-0.006-0.006-0.011-0.006-0.017-0.006   c-1.616-0.587-3.182-2.114-4.017-3.752c-0.393-0.775-0.625-1.572-0.625-2.302c0-2.905-0.813-20.076-0.813-25.079   c0-5.002,1.051-13.746,3.492-16.988c1.478-1.965,2.806-2.972,3.625-3.464c1.937-1.638,4.233-2.822,6.165-3.447   c2.667-0.863,8.616-3.088,12.761-4.654v0.044c-1.837,0.714-4.062,1.577-6.264,2.418c1.588,2.723,5.03,7.033,11.145,7.554   c5.783,0.487,9.363-4.742,11.189-8.555c0.158,0.056,10.22-1.849,12.556-1.746c7.583,0.336,13.779-3.782,16.578-5.41   c3.632-2.114,8.357-0.399,9.567,3.625c0.008,0.028,0.016,0.055,0.025,0.083C147.963,242.286,148.279,243.498,147.803,244.533z"
        ></path>
        <g>
          <g>
            <g>
              <path
                style="fill:#FFFFFF;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;"
                d="M108.923,244.633      c0,0.006-0.006,0.006-0.006,0.011c-0.149-0.055-0.299-0.111-0.454-0.16L108.923,244.633z"
              ></path>
              <path
                style="fill:#FFFFFF;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;"
                d="M117.45,308.724      c0,0.039-0.011,0.077-0.017,0.116c-0.1,0.393-0.636,0.542-1.057,0.304c-0.454-0.26-1.168-1.931-1.168-1.931l-0.786-0.824      l-0.526-0.548c0,0.006,0,0.006,0.006,0.011c0.077,0.194,0.703,1.732,0.376,2.435c-0.022,0.05-0.044,0.094-0.077,0.133      c-0.111,0.149-0.238,0.282-0.382,0.398c-0.421,0.354-0.963,0.553-1.522,0.553h-0.028c-0.426-0.017-1.693,0.149-2.795,0.221      c-0.039,0-0.072,0-0.111,0.006h-0.005c-0.382,0.017-0.742,0.028-1.035,0.011c-0.885-0.122-1.743-0.404-2.518-0.847      c0,0-3.58-0.553-5.174-1.234c-0.105-0.044-0.205-0.094-0.304-0.155c-0.094-0.055-0.188-0.111-0.271-0.166      c-0.177-0.111-0.343-0.238-0.493-0.376c-0.808-0.708-1.317-1.605-1.444-1.848c-0.017-0.033-0.022-0.044-0.022-0.044v-0.006      c0,0-4.056-0.172-9.512-0.592c-1.987-0.155-4.161-0.337-6.391-0.564c-3.448-0.349-6.286-0.327-8.516-0.636      c-0.055-0.011-0.105-0.017-0.16-0.028c-0.437-0.066-0.852-0.144-1.24-0.238c-0.006-0.006-0.011-0.006-0.017-0.006      c-1.964-0.509-3.309-1.516-4.017-3.752c-0.127-0.404-0.232-0.852-0.321-1.345l1.732-3.01c0,0,1.19-1.024,3.033-1.743      c1.45-0.576,3.309-0.952,5.312-0.487c0.36,0.083,0.725,0.194,1.09,0.332c0.78,0.299,1.632,0.647,2.535,1.029      c0.183,0.072,0.365,0.149,0.553,0.227c0.183,0.078,0.371,0.155,0.559,0.238c0.26,0.111,0.52,0.221,0.786,0.337      c4.521,1.937,9.784,4.289,13.342,5.274c1.018,0.282,2.125,0.465,3.248,0.576c0.332,0.039,0.664,0.066,0.996,0.083      c3.852,0.255,7.653-0.205,8.666-0.144c1.09,0.066,3.475,2.402,5.052,3.857c0.432,0.398,0.808,0.73,1.074,0.93      c0.039,0.028,0.077,0.061,0.116,0.1c0.033,0.022,0.061,0.044,0.094,0.078c0.609,0.559,0.968,1.417,1.162,2.125      c0,0,0.006,0,0,0.005c0.083,0.315,0.133,0.603,0.161,0.819C117.45,308.536,117.456,308.652,117.45,308.724z"
              ></path>
              <path
                style="fill:#FFFFFF;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;"
                d="M117.45,308.724      c0,0.039-0.011,0.077-0.017,0.116c-0.116,0.382-0.647,0.537-1.057,0.288c-0.448-0.271-1.168-1.931-1.168-1.931l-0.786-0.808      l-0.52-0.537l-0.011-0.005c0.066,0.16,0.714,1.721,0.387,2.44c-0.022,0.05-0.044,0.094-0.077,0.133      c-0.111,0.149-0.238,0.282-0.382,0.398c-0.426,0.343-0.963,0.537-1.522,0.537c-0.006,0-0.006,0-0.011,0h-0.028      c-0.443-0.017-1.693,0.144-2.784,0.221c-0.05,0-0.094,0.006-0.133,0.006c-0.382,0.017-0.742,0.028-1.029,0.011      c-0.885-0.122-1.743-0.404-2.518-0.847c0,0-3.58-0.559-5.174-1.234c-0.1-0.044-0.199-0.089-0.293-0.138      c-0.094-0.055-0.188-0.111-0.271-0.166c-0.177-0.116-0.343-0.243-0.493-0.376c-0.808-0.708-1.317-1.605-1.444-1.848      c-0.011-0.022-0.017-0.033-0.022-0.044v-0.006c-0.011-0.011-0.011-0.017-0.011-0.017s-3.94-0.166-9.274-0.576      c-2.053-0.155-4.311-0.349-6.629-0.581c-3.16-0.315-5.777-0.398-7.88-0.73c-0.221-0.039-0.443-0.077-0.653-0.116      c-0.26-0.055-0.509-0.111-0.753-0.171c-0.127-1.035-0.116-2.346,0.376-3.641c0.592-1.566,1.887-3.11,4.488-4.095      c0.011,0,0.022-0.005,0.033-0.011c1.251-0.459,2.534-0.83,3.829-1.101c0.006-0.006,0.006-0.006,0.011-0.006      c0.177,0.077,0.36,0.149,0.542,0.232c0.183,0.078,0.371,0.155,0.559,0.238c0.26,0.111,0.52,0.221,0.786,0.337      c4.526,1.953,9.778,4.311,13.336,5.279c1.024,0.282,2.131,0.465,3.254,0.57c0.332,0.039,0.664,0.066,0.996,0.083      c3.852,0.26,7.648-0.194,8.66-0.138c1.09,0.061,3.47,2.402,5.041,3.852c0.443,0.404,0.819,0.742,1.09,0.935      c0.039,0.028,0.077,0.061,0.116,0.094c0.033,0.022,0.061,0.044,0.094,0.078c0.614,0.548,0.974,1.405,1.162,2.125      c0,0,0.006,0,0,0.005c0.089,0.31,0.138,0.598,0.161,0.819C117.45,308.536,117.456,308.652,117.45,308.724z"
              ></path>
              <path
                style="fill:#FFFFFF;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;"
                d="M105.484,306.064      c0,0,2.263,1.179,3.171,1.583c0.908,0.404,0.819,2.059,0.819,2.059"
              ></path>
              <path
                style="fill:#FFFFFF;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;"
                d="M107.907,304.459      c0,0,3.47,2.529,4.123,3.27c0.391,0.461,0.489,1.103,0.255,1.66"
              ></path>
              <path
                style="fill:#FFFFFF;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;"
                d="M113.889,305.832      c0,0-3.32-3.453-3.752-3.597"></path>
              <path
                style="fill:#FFFFFF;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;"
                d="M108.912,244.646      c-1.817,3.81-5.398,9.041-11.18,8.553c-6.125-0.519-9.56-4.827-11.149-7.557c2.201-0.841,4.422-1.702,6.259-2.419v-0.041      c0-1.858-0.062-4.09-0.259-6.301c-0.041-0.478-0.104-0.965-0.156-1.453c-0.052-0.384-0.104-0.768-0.166-1.142h11.626      c0,0-0.073,0.467-0.156,1.235c0,0.01,0,0.021-0.01,0.031c-0.073,0.685-0.166,1.609-0.228,2.647      c-0.093,1.381-0.156,2.958-0.114,4.526c0.561,0.197,1.131,0.405,1.702,0.623c0.363,0.124,0.727,0.26,1.1,0.384      c0.436,0.156,0.872,0.301,1.329,0.446l0.955,0.301C108.622,244.531,108.767,244.583,108.912,244.646z"
              ></path>
              <path
                style="fill:#263238;"
                d="M92.427,235.43c0,0,2.169,5.637,5.322,6.603c3.153,0.967,5.978-6.476,5.978-6.476      s-4.436,4.746-6.087,3.962S92.427,235.43,92.427,235.43"
              ></path>
              <path
                style="fill:#263238;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;"
                d="M90.564,204.284      c-3.04,2.506-5.135,5.972-6.834,9.527c-1.434,2.999-2.642,6.45-1.54,9.586c0.56,1.594,1.665,2.928,2.748,4.224      c2.163,2.59,5.188,9.819,7.351,12.409c0.136-4.606-3.725-12.056-3.307-15.932c0.324-3.006,1.623-5.808,2.904-8.547      c1.606-3.433,3.238-6.909,5.662-9.822c1.314-1.58,5.516-4.393,1.271-4.729C95.952,200.773,92.694,202.529,90.564,204.284z"
              ></path>
              <path
                style="fill:#FFFFFF;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;"
                d="M87.842,219.976      c0,0-1.497-2.885-3.06-0.145c-1.131,1.983,0.498,5.147,1.195,6.315c0.463,0.697,1.262,1.095,2.097,1.046L87.842,219.976z"
              ></path>
              <path
                style="fill:#FFFFFF;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;"
                d="M107.418,230.444      c-0.277,0.891-1.826,3.093-3.691,5.113c-0.293,0.315-0.592,0.631-0.896,0.93c-1.859,1.843-3.874,3.298-5.191,3.033      c-1.146-0.227-2.645-1.411-4.123-2.916c-0.365-0.371-0.73-0.769-1.09-1.173v-0.006c-1.854-2.103-3.497-4.482-4.089-5.794      c-0.266-0.592-0.454-1.45-0.587-2.446c-0.31-2.346-0.293-5.445-0.26-7.548c0.017-0.885,0.033-1.594,0.033-1.992      c0-1.749,6.513-7.797,6.513-7.797c0.138-0.061,0.326-0.077,0.553-0.055c0.725,0.061,1.876,0.493,3.199,1.14      c3.951,1.92,9.457,5.727,9.861,7.177C108.231,220.201,108.004,228.563,107.418,230.444z"
              ></path>
              <path
                style="fill:#263238;"
                d="M94.471,222.416c0,0.703-0.26,1.278-0.553,1.278c-0.293,0-0.581-0.553-0.581-1.278      s0.26-1.284,0.581-1.284C94.239,221.132,94.471,221.719,94.471,222.416z"
              ></path>
              <path
                style="fill:#263238;"
                d="M101.92,221.138c0.321,0,0.581,0.572,0.581,1.278s-0.26,1.278-0.581,1.278      s-0.581-0.572-0.581-1.278S101.599,221.138,101.92,221.138z"
              ></path>
              <path
                style="fill:none;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;"
                d="M90.747,219.273      c0,0,1.051-1.981,4.543-1.395"></path>
              <path
                style="fill:none;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;"
                d="M105.209,219.273      c0,0-1.046-1.981-4.538-1.395"></path>
              <path
                style="fill:none;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;"
                d="M98.664,227.31      c0.783-0.089,1.421-0.628,1.527-1.29c0,0-1.946-3.023-1.356-5.942"
              ></path>
              <g>
                <path
                  style="fill:none;stroke:#FFFFFF;stroke-linecap:round;stroke-linejoin:round;"
                  d="M86.577,213.039       c-0.805,1.093-1.412,2.319-1.794,3.623"
                ></path>
                <path
                  style="fill:none;stroke:#FFFFFF;stroke-linecap:round;stroke-linejoin:round;"
                  d="M94.944,205.039       c0,0-1.11,1.845-5.979,5.591c-0.312,0.234-0.611,0.482-0.895,0.744"
                ></path>
              </g>
            </g>
            <path
              style="fill:#263238;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;"
              d="M79.259,263.626     c-0.654,9.515-1.309,19.03-1.963,28.545c0.004-0.244,0.007-0.488,0.011-0.732"
            ></path>
            <path
              style="fill:#FFFFFF;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;"
              d="M142.43,232.24     c1.777-0.767,3.92-0.428,5.532,0.643c1.612,1.071,2.718,2.797,3.29,4.646c0.579,1.87,0.631,3.959-0.18,5.741     c-0.81,1.782-2.575,3.181-4.532,3.249c-1.438,0.051-2.825-0.591-3.979-1.45C138.8,242.268,136.927,234.615,142.43,232.24z"
            ></path>
          </g>
          <g>
            <g>
              <path
                style="fill:#FFFFFF;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;"
                d="M150.714,200.311      c0,0.114,0.031,0.913,0.062,1.048c0.353,1.536,1.09,5.387-0.779,6.166c0.71,2.536,2.45,19.069,2.221,27.498      c-0.062,2.512-0.498,5.512-2.761,6.592c-3.81,1.806-7.432-2.605-6.955-6.052c0.664-4.713,0.436-9.508,1.017-14.273      c0.612-4.941,1.734-10.027,0.498-14.834c-0.301-0.322-2.221-4.131-2.844-5.19c-0.27-0.457-0.529-0.924-0.664-1.432      c-0.28-1.08-0.363-4.526-0.363-5.211c0.571-1.08,1.308-0.083,1.702,0.623c0.28,0.509,0.384,1.547,0.322,2.72      c-0.01,0.228-0.031,0.467,0.093,0.654c0.156,0.228,0.467,0.384,0.747,0.342c1.225-0.176,1.173-1.214,1.163-1.983      c0-2.647-0.01-5.294-0.01-7.931c0-0.436,0.131-1.63,0.557-1.672c0.467-0.042,1.048,0.3,1.11,1.719      c0.069,1.589,0.067,6.483,0.067,6.483c0.083,0.073,0.208,0.135,0.311,0.093c0.104-0.052,0.145-0.177,0.176-0.28      c0.592-2.46,1.194-4.92,1.785-7.381c0.073-0.291,0.503-0.888,0.805-0.889c0.74-0.001,0.76,0.861,0.802,1.11      c0.259,1.318-1.586,6.754-1.897,8.01c-0.052,0.218,0.021,0.55,0.228,0.488l2.902-5.847c0.249-0.623,0.907-1.326,1.572-1.42      c0.052-0.01,0.104-0.01,0.145,0.01c0.052,0.021,0.093,0.073,0.124,0.125c0.28,0.498,0,1.194-0.166,1.744      c-0.166,0.54-2.325,4.588-3.093,6.218c-0.114,0.228-0.291,0.747-0.073,0.955c0.322,0.135,0.623-0.228,0.779-0.55      c0.488-0.965,0.955-1.941,1.401-2.927c0.135-0.291,0.35-0.694,0.675-0.623C154.28,194.83,151.514,198.92,150.714,200.311z"
              ></path>
              <path
                style="fill:#FFFFFF;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;"
                d="M145.333,199.451      c0.971,0.836,1.931,1.719,2.589,2.819c0.657,1.1,0.982,2.461,0.597,3.683c-0.051,0.161-0.113,0.318-0.192,0.466"
              ></path>
            </g>
          </g>
          <path
            style="fill:none;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;"
            d="M117.163,261.923    c1.135,2.473,1.838,4.563,2.109,6.78c0.288,2.355,0.383,4.207-1.229,10.839"
          ></path>
          <path
            style="fill:#263238;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;"
            d="M94.593,208.334    c-0.115,0.413-0.203,0.852-0.1,1.268c0.135,0.545,0.571,0.956,0.993,1.327c3.191,2.8,6.78,5.146,10.625,6.944    c0.445,0.208,0.917,0.429,1.184,0.84c0.268,0.411,0.279,0.932,0.281,1.422c0.013,2.574,0.026,5.148,0.038,7.722    c0.004,0.797,0.006,1.608-0.233,2.368c-0.565,1.802-1.799,3.256-2.705,4.912c-0.901,1.648-1.401,3.319-1.34,5.196    c-0.249-1.914,6.436-5.616,8.24-13.138c0.253-1.053,5.457-7.365,2.337-14.773c-2.995-7.112-7.723-10.175-9.313-10.539    c-2.452-0.561-4.333-0.264-6.351,1.22C96.506,204.385,95.176,206.245,94.593,208.334z"
          ></path>
          <g>
            <path
              style="fill:none;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;"
              d="M101.145,229.959     c-0.577,0.117-1.155,0.231-1.739,0.305c-1.945,0.245-4.136-0.061-5.442-1.523c0.1,1.313,1.024,6.264,3.683,6.394     C100.442,235.272,101.145,229.959,101.145,229.959z"
            ></path>
          </g>
          <path
            style="fill:none;stroke:#FFFFFF;stroke-linecap:round;stroke-linejoin:round;"
            d="M98.542,205.307    c1.142,2.606,3.001,4.894,5.318,6.545c1.69,1.204,3.618,2.079,5.166,3.461c2.043,1.824,3.314,4.73,2.543,7.358"
          ></path>
          <path
            style="fill:none;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;"
            d="M119.439,245.709    c0,0-2.888,2.02-3.553,6.206c-0.334,2.1-0.09,4.31,0.756,6.26"
          ></path>
          <path
            style="fill:#263238;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;"
            d="M82.191,262.209    c-0.161,2.622-1.795,4.89-3.366,6.995"></path>
          <g>
            <path
              style="fill:none;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;"
              d="M78.291,282.236     c1.604,2.69,4.268,4.579,7.338,5.202"
            ></path>
            <path
              style="fill:none;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;"
              d="M116.551,283.796     c0,0-2.689,4.034-11.831,4.842"></path>
          </g>
        </g>
      </g>
      <g id="Character_2_1_">
        <g>
          <g>
            <g>
              <defs>
                <path
                  id="XMLID_2_"
                  d="M384.3,248.749c0,0-34.846,10.798-41.405,2.275l0.88-43.513h5.298l6.217,30.647l28.559-5.225       C383.849,232.934,387.508,244.274,384.3,248.749z"
                ></path>
              </defs>
              <use xlink:href="#XMLID_2_" style="overflow:visible;fill:#FFFFFF;"
              ></use>
              <clipPath
                id="XMLID_00000017516280615681349050000000620537494876764837_"
              >
                <use xlink:href="#XMLID_2_" style="overflow:visible;"></use>
              </clipPath>
              <path
                style="clip-path:url(#XMLID_00000017516280615681349050000000620537494876764837_);fill:#92E3A9;"
                d="M369.617,250.271      c-1.941,0.939-3.993,1.716-5.684,3.054c2.362,0.741,4.877-0.207,7.235-0.96c3.105-0.991,6.305-1.654,9.513-2.235      c0.147-0.893-0.988-2.924-1.453-3.708c-0.819-1.38-0.966-1.503-2.381-0.823C374.336,246.806,372.202,249.019,369.617,250.271z"
              ></path>

              <use
                xlink:href="#XMLID_2_"
                style="overflow:visible;fill:none;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
              ></use>
            </g>
            <g>
              <defs>
                <path
                  id="XMLID_1_"
                  d="M380.882,249.889l6.133,37.677c-0.169,24.428,11.485,20.751,19.573,20.685       c9.349-0.077,23.542-9.349,16.583-23.777l2.683-52.231l-16.301-1.257c-5.375-0.414-27.373,0.276-29.12,3.085       C375.892,241.373,380.882,249.889,380.882,249.889z"
                ></path>
              </defs>
              <use xlink:href="#XMLID_1_" style="overflow:visible;fill:#FFFFFF;"
              ></use>
              <clipPath
                id="XMLID_00000011027433372318099510000000310178071156802217_"
              >
                <use xlink:href="#XMLID_1_" style="overflow:visible;"></use>
              </clipPath>
              <g
                style="clip-path:url(#XMLID_00000011027433372318099510000000310178071156802217_);"
              >
                <path
                  style="fill:#92E3A9;"
                  d="M381.841,253.036c3.534,13.612,12.452,25.748,24.387,33.187       c-1.313-0.102-2.536-0.674-3.784-1.096c-1.248-0.423-2.639-0.695-3.862-0.204c-1.222,0.491-2.098,2.005-1.492,3.175       c0.252,0.487,0.705,0.835,1.154,1.151c1.981,1.396,4.16,2.511,6.452,3.3c-2.008-0.206-4.052-0.048-6.004,0.466       c-0.36,1.734,1.577,2.954,3.104,3.85c2.434,1.429,4.543,3.408,6.125,5.746c-5.367,0.014-10.734,0.322-16.068,0.923       c-0.714,0.08-1.482,0.156-2.107-0.197c-0.745-0.42-1.059-1.314-1.294-2.136c-1.19-4.155-1.884-8.452-2.065-12.771       c-0.102-2.431-0.041-4.874-0.32-7.291c-0.22-1.904-0.65-3.777-1.054-5.651c-1.554-7.202-2.747-14.483-3.573-21.804       C381.076,253.666,381.841,253.036,381.841,253.036z"
                ></path>
                <g>
                  <g>
                    <path
                      style="fill:#92E3A9;"
                      d="M423.154,249.988c-0.813-0.258-2.471-0.929-3.718-1.998c0.314,1.504,2.55,4.088,3.859,4.892         c0.278,0.171,0.668,0.306,0.902,0.079c0.204-0.198,0.398-0.822,0.643-0.966L423.154,249.988z"
                    ></path>
                  </g>
                </g>
              </g>

              <use
                xlink:href="#XMLID_1_"
                style="overflow:visible;fill:none;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
              ></use>
            </g>
            <g>
              <path
                style="fill:#92E3A9;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;"
                d="M392.793,230.226      c-1.749,3.189-2.604,6.863-2.442,10.496c0.014,0.318,0.039,0.645,0.181,0.93c0.446,0.889,1.677,0.885,2.664,1.01      c3.849,0.487,6.245,4.55,9.878,5.911c0.284,0.106,0.595,0.196,0.885,0.112c0.273-0.079,0.481-0.299,0.66-0.521      c1.58-1.953,2.142-4.802,4.298-6.093c0.938-0.562,2.137-0.792,2.779-1.677c0.743-1.022,0.413-2.44,0.052-3.651      c-0.592-1.989-1.247-4.081-2.783-5.477c-1.518-1.38-3.652-1.844-5.696-2.011c-3.015-0.247-6.072,0.04-8.988,0.843      C394.308,230.484,392.793,230.226,392.793,230.226z"
              ></path>
            </g>
            <g>
              <defs>
                <path
                  id="XMLID_3_"
                  d="M441.187,255.799c-2.442-3.545-4.25-7.525-5.315-11.695c-0.527-2.064-0.882-4.2-1.826-6.109       c-1.507-3.048-4.536-5.294-7.89-5.85c-0.719-0.119-1.477-0.162-2.159,0.096c-1.445,0.548-2.085,2.222-2.379,3.739       c-0.63,3.249-0.443,6.652,0.54,9.812c0.67,2.155,8.721,17.816,14.056,23.889C435.702,266.622,439.221,256.394,441.187,255.799z       "
                ></path>
              </defs>
              <use xlink:href="#XMLID_3_" style="overflow:visible;fill:#FFFFFF;"
              ></use>
              <clipPath
                id="XMLID_00000052795782126509299890000015355490507895574411_"
              >
                <use xlink:href="#XMLID_3_" style="overflow:visible;"></use>
              </clipPath>
              <g
                style="clip-path:url(#XMLID_00000052795782126509299890000015355490507895574411_);"
              >
                <path
                  style="fill:#92E3A9;"
                  d="M425.402,252.728c1.647,3.105,3.294,6.211,4.941,9.316c0.703,1.325,1.506,2.745,2.887,3.33       c-0.866-3.075-1.361-6.254-1.472-9.447c-0.055-1.602-0.02-3.242-0.546-4.756c-0.202,0.167-0.415-0.552-0.415-0.552       c-0.213,0.412-0.796,0.423-1.25,0.328c-3.227-0.674-5.443-3.555-7.362-6.235c-0.524,1.779-0.153,3.798,0.97,5.275       C423.154,249.988,425.239,252.42,425.402,252.728z"
                ></path>
              </g>

              <use
                xlink:href="#XMLID_3_"
                style="overflow:visible;fill:none;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
              ></use>
            </g>
            <g>
              <path
                style="fill:#FFFFFF;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                d="      M434.252,267.001c-5.379-10.314-2.778-34.071-2.945-37.891l7.101-0.376c0.712,0,3.989,20.257,6.238,28.667      c2.048,7.659,0.088,15.406-3.459,15.407C438.248,272.809,435.381,269.167,434.252,267.001z"
              ></path>
              <g>
                <path
                  style="fill:none;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                  d="M370.135,240.233       c5.02-7.299,14.81-7.883,14.81-7.883"
                ></path>
                <path
                  style="fill:#FFFFFF;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                  d="       M350.852,244.321c1.732-1.444,3.042-3.868,3.464-4.994"
                ></path>
                <path
                  style="fill:none;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                  d="M387.988,278.821       c2.856,4.664,21.308,9.661,28.671,8.593"
                ></path>
                <path
                  style="fill:none;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                  d="M393.22,291.951       c5.309,0.919,10.81,0.71,16.034-0.609"
                ></path>
                <path
                  style="fill:none;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                  d="M417.715,246.693       c1.171,1.589,2.342,3.177,3.513,4.766c0.48,0.651,1.155,1.381,1.944,1.202"
                ></path>
              </g>
            </g>
          </g>
          <g>
            <g>
              <g>
                <path
                  style="fill:#FFFFFF;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                  d="       M443.87,427.625c-0.307,1.276-0.406,2.788,0.5,3.738c0.849,0.889,2.231,0.928,3.46,0.906c1.408-0.025,2.817-0.05,4.225-0.076       c1.631-0.029,3.317-0.07,4.799-0.753c1.482-0.683,2.714-2.19,2.546-3.812c-0.066-0.638-0.336-1.235-0.603-1.818       c-0.376-0.824-0.753-1.648-1.129-2.472C452.968,413.051,445.869,419.307,443.87,427.625z"
                ></path>
                <path
                  style="fill:#FFFFFF;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                  d="       M437.91,415.503c0.149,4.717-0.249,9.452-1.183,14.078c-0.213,1.053-0.019,2.64,1.051,2.543       c0.378-0.034,0.684-0.309,0.954-0.575c3.661-3.598,6.322-8.204,7.608-13.173c0.278-1.073,0.473-2.287-0.111-3.229       c-0.261-0.421-0.654-0.741-1.039-1.053C441.838,411.381,437.6,408.694,437.91,415.503z"
                ></path>
              </g>
              <g>
                <g>
                  <path
                    style="fill:#263238;"
                    d="M426.303,294.626c0,0,5.264,9.164,6.393,11.296c1.13,2.134,25.042,33.502,29.581,56.341        c0.862,4.336-16.749,52.881-16.749,52.881l-3.978-2.265c0,0,2.778-44.273,2.103-47.948        c-0.674-3.669-18.252-30.839-18.252-30.839s-9.815-7.216-13.846-15.59L426.303,294.626z"
                  ></path>
                </g>
                <g>
                  <path
                    style="fill:#263238;"
                    d="M426.874,317.582c0,0-3.037,6.678-3.045,7.637c-0.008,0.96,16.505,53.098,21.347,65.163        c3.078,7.765,5.788,15.72,8.114,23.835c0,0,1.88,2.472,0.459,4.986c-1.422,2.515-7.065,4.182-8.231,1.923        c-1.165-2.257-12.592-14.004-17.407-25.68c-4.789-11.612-11.566-31.173-15.424-38.471c-5.065-9.307-9.55-18.896-13.432-28.708        c-4.857-12.411-9.812-25.783-9.812-25.783c2.017,0.177,4.04,0.231,6.059,0.163c4.738-0.16,9.454-0.992,14.012-2.48        c10.536-3.539,15.097-10.312,15.097-10.312s2.611,7.064,3.284,8.434L426.874,317.582z"
                  ></path>
                </g>
              </g>
            </g>
            <g>
              <path
                style="fill:none;stroke:#FFFFFF;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                d="M460.519,366.726      c-1.028,1.765-2.423,3.316-4.08,4.51"
              ></path>
              <path
                style="fill:none;stroke:#FFFFFF;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                d="M461.811,363.819      c-0.154,0.486-0.335,0.964-0.54,1.431"
              ></path>
              <path
                style="fill:none;stroke:#FFFFFF;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                d="M417.338,301.987      c2.664,4.585,5.153,11.17,4.754,16.457c-0.064,0.844-1.032,2.753-1.032,2.753"
              ></path>
              <path
                style="fill:none;stroke:#FFFFFF;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                d="M401.237,307.089      c0.289,2.553,0.681,6.787,0.125,9.295c-0.556,2.508-1.909,4.932-4.087,6.295"
              ></path>
              <path
                style="fill:none;stroke:#FFFFFF;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                d="M423.924,297.44      c0.665,0.647,0.943,1.58,1.392,2.392c1.436,2.595,4.224,4.608,6.521,4.943"
              ></path>
              <path
                style="fill:none;stroke:#FFFFFF;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                d="M415.434,307.662      c3.527,7.72,6.228,15.456,11.71,28.575"
              ></path>
              <path
                style="fill:none;stroke:#FFFFFF;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                d="M413.552,303.711      c0.3,0.604,0.592,1.203,0.877,1.799"
              ></path>
              <path
                style="fill:none;stroke:#FFFFFF;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                d="M442.931,362.765      c1.612,3.116,3.677,5.998,6.108,8.528"
              ></path>
              <path
                style="fill:none;stroke:#FFFFFF;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                d="M444.603,365.652      c1.049,4.88,2.998,9.557,5.704,13.755"
              ></path>
              <g>
                <path
                  style="fill:none;stroke:#FFFFFF;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                  d="M419.737,365.898       c-7.788-16.622-16.095-33.112-26.309-58.235"
                ></path>
                <path
                  style="fill:none;stroke:#FFFFFF;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                  d="M421.498,370.734       c-0.192-0.584-0.392-1.168-0.6-1.753"
                ></path>
                <path
                  style="fill:none;stroke:#FFFFFF;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                  d="M448.426,421.831       c-1.994-2.609-16.577-22.975-20.201-32.242c-2.407-6.156-4.227-10.51-6.039-16.648"
                ></path>
              </g>

              <line
                style="fill:none;stroke:#FFFFFF;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                x1="442.931"
                y1="382.59"
                x2="449.863"
                y2="402.963"></line>
            </g>
          </g>
          <g>
            <g>
              <path
                style="fill:#FFFFFF;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                d="      M438.264,228.736l-2.107,0.175c-1.587,0.132-3.489,0.725-7.977-0.37c-1.672-0.408-5.537-1.612-5.987-1.695      c-0.915-0.18-2.564-0.495-3.486-0.555c-3.523-0.217-1.739-1.529-0.27-1.469c1.941,0.09,2.594,0.045,4.078,0.157      c-0.172-0.097-0.727-0.21-0.735-0.645c-0.023-1.049,1.379-0.982,1.379-0.982s-1.514-0.645-1.304-1.439      c0.187-0.697,1.222-0.99,1.867-0.937c0,0-0.855-0.405-0.81-0.847c0.172-1.701,3.665-1.821,3.665-1.821      c-0.997-0.592-1.702-0.795-2.346-1.454c-0.258-0.265-0.447-0.618-0.529-0.976c-0.191-0.836,0.689-1.465,1.44-1.052      c0.928,0.51,1.718,1.32,2.604,1.946c1.079,0.765,2.331,1.259,3.471,1.949c0.495,0.3,2.069,2.069,2.631,3.448      C434.014,222.47,438.264,228.736,438.264,228.736z"
              ></path>
            </g>
            <g>
              <path
                style="fill:#FFFFFF;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                d="      M343.775,207.512v-5.546c0-2.763,0.381-5.519,1.208-8.155c0.458-1.462,0.99-2.735,1.492-2.92      c0.907-0.334,1.308,3.359,1.308,3.359s-1.308-5.764-1.308-8.97c0-3.206,4.316,10.115,4.316,10.115l-1.718,12.116H343.775z"
              ></path>
              <path
                style="fill:#FFFFFF;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                d="      M349.02,198.551c0.52-0.397,0.915-0.954,1.118-1.576"
              ></path>
            </g>
            <g>
              <g>
                <path
                  style="fill:#FFFFFF;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                  d="       M390.878,219.008c1.88,3.141,2.927,6.71,3.042,10.369c0.176,6.082,7.22,14.598,9.234,15c2.014,0.402,3.866-9.593,3.777-12.63       c-0.089-3.037-1.208-11.402-1.208-11.402S396.049,213.061,390.878,219.008z"
                ></path>
                <path
                  style="fill:#263238;"
                  d="M393.712,227.047c0,0,9.228,12.596,12.848-0.211       C410.18,214.028,396.408,230.336,393.712,227.047z"
                ></path>
                <path
                  style="fill:#FFFFFF;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                  d="       M409.29,217.961c-0.487,7.473-3.898,11.671-7.833,12.406c-3.59,0.667-8.838-3.013-11.461-8.425c0,0,0,0-0.008-0.007       c-0.202-0.135-3.388-2.346-4.153-2.886c-0.787-0.562-1.319-1.499-1.274-2.466c0.045-0.922,0.69-1.822,1.574-2.084       c0.03-0.015,0.067-0.022,0.097-0.03c0.457-0.113,0.914-0.052,1.349,0.105c-0.667-2.556-1.207-5.142-1.612-7.751       c0.187-6.027,2.181-10.899,8.583-11.386c6.409-0.487,11.746,3.103,11.993,5.682c0.187,2.001,0.832,7.293,1.417,12.758       C408.128,215.382,409.395,216.319,409.29,217.961z"
                ></path>
                <path
                  style="fill:#FFFFFF;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                  d="       M406.56,209.359c0,0-4.124-1.894-3.424,4.246c0.14,1.213,2.395,3.047,2.395,3.047s-0.576,1.811-1.646,1.811"
                ></path>
                <path
                  style="fill:#FFFFFF;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                  d="       M398.603,211.459c0,0-2.1-1.276-3.54-0.493c-0.753,0.328-1.393,0.87-1.84,1.559"
                ></path>
                <path
                  style="fill:#263238;"
                  d="M397.403,214.968c0.157,0.742-0.036,1.407-0.435,1.488c-0.398,0.081-0.844-0.444-1.001-1.186       c-0.157-0.742,0.042-1.398,0.442-1.486C396.809,213.695,397.249,214.249,397.403,214.968z"
                ></path>
                <path
                  style="fill:#263238;"
                  d="M405.525,212.845c0.159,0.735-0.042,1.398-0.435,1.488c-0.392,0.09-0.85-0.453-1.001-1.186       c-0.151-0.734,0.036-1.407,0.435-1.488C404.922,211.578,405.366,212.11,405.525,212.845z"
                ></path>
              </g>
              <path
                style="fill:#263238;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                d="M385.5,199.148      c-0.774,0.66-1.177,1.651-1.46,2.628c-1.22,4.211-0.655,8.908,1.529,12.71c0,0,1.111-0.143,2.014,0.088      c0.697,0.178,1.599,1.374,1.929,2.013c0.331,0.639,0.412,1.374,0.488,2.09c-0.156-1.895-0.312-3.79-0.468-5.685      c-0.063-0.764-0.124-1.55,0.1-2.283c0.002-0.007,0.004-0.015,0.007-0.022c0.491-1.556-0.05-5.236,0.09-8.53      c4.154,5.077,10.178,4.179,12.182,4.013c2.999-0.248,5.563-3.319,5.395-5.507c-0.172-2.231-0.746-7.829-10.636-8.408      c-2.168-0.127-4.463,0.127-6.285,1.31c-1.233,0.801-2.024,2.103-2.245,3.542c-0.14,0.915,0.214,1.001-0.488,1.448      C387.076,198.919,386.188,198.561,385.5,199.148z"
              ></path>
              <path
                style="fill:#FFFFFF;stroke:#263238;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                d="      M398.603,221.943c0,0,1.469,1.614,4.541,0.545"></path>
            </g>
          </g>
        </g>
      </g>
    </svg>
    <div class="footer__content">
      <p> 2023 ALVGE. All rights reserved.</p>
      <p>Powered by Astro</p>
    </div>
    <div class="footer__social">
      <Social />
    </div>
  </div>
</footer>
