---
import '/src/styles/appointment/components/footer.css'
---
<footer>
  <div class="container">
      <div class="footer__content">
          <a href="/" class="footer__logo">
              <img src="https://fakeimg.pl/24x24" alt="Appointly Logo">
              <span>Appointly</span>
          </a>
          
          <div class="footer__links">
              <a href="#">Home</a>
              <a href="#services">Services</a>
              <a href="#faq">FAQ</a>
              <a href="#">About</a>
              <a href="#">Contact</a>
              <a href="#">Privacy</a>
              <a href="#">Terms</a>
          </div>
          
          <p class="footer__copyright">© 2023 Appointly. All rights reserved.</p>
      </div>
  </div>
</footer>