---
import '../../styles/appointment/components/header.css'
---

<header>
  <div class="container">
      <nav class="navbar">
          <a href="/" class="navbar__logo">
              <img src="https://fakeimg.pl/32x32" alt="Appointly Logo">
              <span>Appointly</span>
          </a>
          
          <div class="navbar__links">
              <a href="#services">Services</a>
              <a href="#faq">FAQ</a>
              <a href="#">About</a>
              <a href="#">Contact</a>
          </div>
          
          <div class="navbar__cta navbar__cta--auth">
              <button class="btn btn--outline" data-open-auth="signin" >Sign in</button>
              <button class="btn btn--primary" data-open-auth="signup" >Sign up</button>
          </div>
      </nav>
  </div>
</header>
