---
import "../../styles/appointment/components/hero.css";

const { tittle, description } = Astro.props;
---

<!-- Hero -->
<section class="hero">
    <div class="container">
        <div class="hero__content">
            <h1 class="hero__title">{tittle}</h1>
            <p class="hero__description">
                {description}
            </p>
            <div class="hero__cta">
                <a href=/appointment/home#faq" class="btn btn--primary">See FAQ</a>
                <a href="#" class="btn btn--outline">Learn more</a>
            </div>
        </div>
    </div>
</section>
