---
import "../styles/alvge/normalize.css";
import "../styles/alvge/base.css";
import "../styles/alvge/fonts.css";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Jimmy Alvarez</title>
	</head>
	<body>
		<slot />
	</body>
</html>